---
// Server side JS here
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en" class="2xl:text-[20px]">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="antialiased text-default bg-page tracking-tight">
		<Header />
		<slot />
		<Footer />
	</body>
</html>